* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body
{
    background-color: rgb(200, 200, 200);
    margin: 0;
}

.row {
    width: 80%;
    margin: 0px auto;
}

.empty-space2 {
    height: 66px;
}

header {
    background: url("images/festival.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

hr {
    width: 80%;
    height: 3px;
    border: 0;
    background-color: #d8eaf2;
    
}

/* HEADING NADPIS */
.merch-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid black;
    padding: 0 40px;
    border-radius: 16px;
    text-wrap: nowrap;
}
.heading-container {
    display: flex;
    justify-content: space-evenly;
}

.heading-container h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.heading-container img {
    width: 100px;
    height: 100px;
    margin-top: 18px;
    margin-left: 10px;
}

/* PRODUCTS */
.men-colection-paragraph-heading {
    text-align: center;
}

.men-colection-one-card {
    border: 2px solid white;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}
.men-colection-one-card-images {
    display: flex;
    justify-content: space-evenly;
}
.men-colection-one-card-images img {
    width: 360px;
}

.men-colection-one-card .paragraph-price-sizes-btn {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 15px 0;
    height: 50px;
}

.men-colection-one-card .paragraph-price-sizes-btn .white {
    margin: 0;
    height: 10px;
    width: 10px;
    background-color: white;
    border: 1px solid black;
}
.men-colection-one-card .paragraph-price-sizes-btn .black {
    margin: 0;
    height: 10px;
    width: 10px;
    background-color: black;
}

.men-colection-one-card .paragraph-price-sizes-btn .sizes {
    display: flex;
}

.men-colection-one-card .paragraph-price-sizes-btn .price {
    font-size: 24px;
    font-weight: 800;
}
.men-colection-one-card .paragraph-price-sizes-btn .sizes .one-size {
    margin-right: 15px;
}

.men-colection-one-card .paragraph-price-sizes-btn .btn {
    margin: 0;
    padding: 0;
    width: 50px;
    cursor: pointer;
    background-color: #d8eaf2;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}

.men-colection-one-card .paragraph-price-sizes-btn .btn img {
    width: 40px;
}


.men-colection-one-card .name {
    font-size: 32px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

/* HLAVNÍ NAVIGACE V HLAVIČCE A V PATIČCE */
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 28px;
    color: white;
    margin: 0;
    padding: 16px 0;
    background: black;
    text-transform: uppercase;
}

.footer-links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link a, .footer-link a {
    text-decoration: none;
    color: white;
}

.nav-link a:hover, .footer-link a:hover {
    text-decoration: none;
    color: grey;
}

footer {
    padding: 16px 0;
    background: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons .fa {
    font-size: 24px;
}

.fa-facebook-f {
    color: dodgerblue;
}
.fa-facebook-f:hover {
    color: white;
    cursor: pointer;
}

.fa-instagram {
    color: deeppink;
}
.fa-instagram:hover {
    color: white;
    cursor: pointer;
}

.fa-youtube-play {
    color: red;
}
.fa-youtube-play:hover {
    color: white;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 10px;
}