/* OBECNÉ NASTAVENÍ */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body
{
    background-color: rgb(200, 200, 200);
    margin: 0;
}

.row {
    width: 80%;
    margin: 0px auto;
}

.empty-space2 {
    height: 66px;
}

header {
    background: url("images/festival.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

/* HLAVNÍ NADPIS */
.main-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid black;
    padding: 0 40px;
    border-radius: 16px;
    text-wrap: nowrap;
}

.main-heading h1 {
    font-size: 50px;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
}

.main-heading p {
    font-size: 28px;
}

/* OSTATNÍ HLAVNÍ NADPISY NA STRÁNCE */
.about-festival h2, .heading-singers h2, .our-teams h2, .contact-container h2 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 40px;
    text-transform: uppercase;
}

/* O NÁS TEXT */
.about-festival p {
    font-size: 24px;
    padding: 25px 50px 25px 50px;
    text-align: center;
    margin: 0;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    line-height: 1.5;
}

/* ZPĚVÁCI */
.singers-card-taylor {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    gap: 24px;
}
.singers-card-ray {
    background-color: rgb(255, 255, 255);
    margin: 30px auto 0 auto;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    gap: 24px;
    text-align: right;
}

#taylor-img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

#ray-img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.heading-paragraph-ray p, .heading-paragraph-taylor p {
    margin-bottom: 0;
    line-height: 1.5;
}

/* NÁŠ TÝM */
.our-teams {
    text-align: center;
}

.our-teams p {
    font-size: 24px;
    padding: 25px 50px;
    margin: 0;
    line-height: 1.5;
}

.our-teams-cards {
    display: flex;
    justify-content: space-around;
}

.our-teams-card {
    width: 25%;
    background: white;
    border-radius: 30px;
    padding: 20px 16px;
}

.our-teams-card p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
}

.our-teams-card h3 {
    font-size: 24px;
}

.our-teams-card h4 {
    font-size: 20px;
    color: rgb(160, 160, 160);
    margin-bottom: 0;
}

.our-teams-card img {
    border-radius: 50%;
    border: 5px solid rgb(200, 200, 200);
    width: 92px;
    height: 92px;
}

/* KONTAKTNÍ FORMULÁŘ */
.contact-form {
    width: 60%;
    margin: 25px auto 0 auto;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    border: none;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    align-items: center;
}

input[type="button"] {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0 0 0;
    background: black;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

input[type="button"]:hover {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0 0 0;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

label {
    font-size: 18px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    border: none;
}

.gdpr-acess {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/* HLAVNÍ NAVIGACE V HLAVIČCE A V PATIČCE */
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 28px;
    color: white;
    margin: 0;
    padding: 16px 0;
    background: black;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    position: fixed;
    z-index: 100;
    width: 100%;
    opacity: 0.8;
}

.footer-links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
}

.nav-link a, .footer-link a {
    text-decoration: none;
    color: white;
}

.nav-link a:hover, .footer-link a:hover {
    text-decoration: none;
    color: grey;
}

footer {
    padding: 16px 0;
    background: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons .fa {
    font-size: 24px;
}

.fa-facebook-f {
    color: dodgerblue;
}
.fa-facebook-f:hover {
    color: white;
    cursor: pointer;
}

.fa-instagram {
    color: deeppink;
}
.fa-instagram:hover {
    color: white;
    cursor: pointer;
}

.fa-youtube-play {
    color: red;
}
.fa-youtube-play:hover {
    color: white;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 10px;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 30px 0;
        position: relative;
    }

    .main-heading {
        top: 33%;
        text-wrap: wrap;
    }

}

@media only screen and (max-width: 900px) {
    .our-teams-cards {
        flex-direction: column;
        gap: 20px;
    }

    .our-teams-card {
        width: 100%;
    }

    .singers-card-taylor, .singers-card-ray {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 750px) {
    .footer-links {
        display: none;
    }

    .copyright {
        margin-top: 16px;
    }

    .gdpr-acess {
        align-items: center;
    }
}












