* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body
{
    background-color: rgb(200, 200, 200);
    margin: 0;
}

hr {
    background: black;
    height: 2px;
    border: none;
}

.row {
    width: 80%;
    margin: 0 auto;
}

.empty-space2 {
    height: 66px;
}

header {
    background: url("images/festival.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

/* HLAVNÍ NADPIS */
.tickets-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid black;
    padding: 0 40px;
    border-radius: 16px;
    text-wrap: nowrap;
}
.heading-container {
    display: flex;
    justify-content: space-evenly;
}

.heading-container h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.heading-container img {
    width: 132px;
}
/* VSTUPENKY */
.all-tickets {
    border: 2px solid white;
    border-radius: 24px;
    padding: 15px;
    background: white;
}
.one-ticket-type {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    transition: background-color 0.5s;
}
.one-ticket-type:hover {
    background-color: #d8eaf2;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.img-heading, .paragraph-btn {
    display: flex;
}

.btn {
    margin-left: 20px;
    background: #d8eaf2;
    color: black;
    border-radius: 24px;
    width: 120px;
    height: 50px;
    margin-top: 25px;
    border: 2px solid black;
    transition: background-color 0.5s;
    font-size: 20px;
    font-weight: 800;
}
.btn:hover {
    background-color: black;
    cursor: pointer;
    color: #d8eaf2;
    transition: background-color 0.5s;
}
.one-ticket-type img {
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
}

.one-ticket-type h2 {
    text-transform: uppercase;
    margin-top: 38px;
}

.one-ticket-type p {
    font-size: 20px;
    text-align: right;
    margin-top: 38px;
    margin-left: 20px;
}

.one-ticket-type .price {
    font-weight: 800;
}

.one-ticket .empty-space {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
}
.one-ticket:hover .empty-space {
    height: 70px;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;
}

.empty-space-lists {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.empty-space-lists li {
    width: 33.3%;
    line-height: 1.8;
}

/* HLAVNÍ NAVIGACE V HLAVIČCE A V PATIČCE */
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 28px;
    color: white;
    margin: 0;
    padding: 16px 0;
    background: black;
    text-transform: uppercase;
}

.footer-links {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link a, .footer-link a {
    text-decoration: none;
    color: white;
}

.nav-link a:hover, .footer-link a:hover {
    text-decoration: none;
    color: grey;
}

footer {
    padding: 16px 0;
    background: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons .fa {
    font-size: 24px;
}

.fa-facebook-f {
    color: dodgerblue;
}
.fa-facebook-f:hover {
    color: white;
    cursor: pointer;
}

.fa-instagram {
    color: deeppink;
}
.fa-instagram:hover {
    color: white;
    cursor: pointer;
}

.fa-youtube-play {
    color: red;
}
.fa-youtube-play:hover {
    color: white;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 10px;
    margin: 0;
}